---
import Layout from "../layouts/Layout.astro";

const description = "";
---

<Layout title="Sehaj Pasricha" description={description}>
  <main class="mt-36 w-full min-h-screen flex flex-col items-center content-center justify-start align-middle">
    <ul class="list-disc text-center text-lg md:text-xl lg:text-2xl font-normal text-darkheading">
      <li>
        <a href="https://eldenring.com" target="_blank" rel="noopener noreferrer">ELDEN RING</a>
      </li>
      <li>
        <a href="https://www.playstation.com/en-in/games/the-last-of-us-part-ii/" target="_blank" rel="noopener noreferrer">LAST OF US PART 2</a>
      </li>
      <li>
        <a href="https://www.mobiusdigitalgames.com/outer-wilds.html" target="_blank" rel="noopener noreferrer">OUTER WILDS</a>
      </li>
      <li>
        <a href="https://www.quanticdream.com/en/detroit-become-human" target="_blank" rel="noopener noreferrer">DETROIT BECOME HUMAN</a>
      </li>
    </ul>
  </main>
</Layout>
