---
import Layout from "../layouts/Layout.astro";

const description = "";
---

<Layout title="Sehaj Pasricha" description={description}>
  <main
    class="mt-36 w-full min-h-screen flex flex-col items-center content-center justify-start align-middle"
  >
    <div class="text-center text-lg md:text-xl lg:text-2xl font-bold">
      <p>
        PLAY 
        <a href="https://eldenring.com" target="_blank" rel="noopener noreferrer" class="underline">ELDEN RING</a>, 
        <a href="https://www.playstation.com/en-in/games/the-last-of-us-part-ii/" target="_blank" rel="noopener noreferrer" class="underline">LAST OF US PART 2</a>, 
        <a href="https://www.mobiusdigitalgames.com/outer-wilds.html" target="_blank" rel="noopener noreferrer" class="underline">OUTER WILDS</a> AND 
        <a href="https://www.quanticdream.com/en/detroit-become-human" target="_blank" rel="noopener noreferrer" class="underline">DETROIT BECOME HUMAN</a>
      </p>
    </div>
  </main>
</Layout>
