---
import Layout from '../layouts/Layout.astro';

const frontmatter = {
  title: "Recommended Games",
  description: "do yourself a big favour.",
};
---
<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="flex justify-start items-start min-h-screen pt-20">
    <div class="w-full max-w-xl px-8">
      <h2 class="text-2xl font mb-4 text-left italic">play:</h2>
      <ol class="list-decimal list-inside space-y-2">
        <li> Elden Ring</li>
        <li>The Last of Us Part II</li>
        <li>Outer Wilds</li>
        <li>Detroit Become Human</li>
        <li>Death Stranding</li>
        <li>Red Dead Redemption 2
      </ul>
    <!-- Images added below -->
    <div class="space-y-4 my-8">
      <img src="/images/image_1.png" alt="tlou2" />
      <img src="/images/image_2.jpg" alt="Description of image2" />
      <img src="/images/image_3.jpg" alt="Description of image3" />
      <img src="/images/image_4.jpg" alt="Description of image4" />
      <img src="/images/image_5.png" alt="Description of image5" />
      <img src="/images/image_6.png" alt="Description of image6" />
    </div>
    </div>
  </main>
</Layout>









